html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: lightgray;
    overflow: hidden;
}

.loader {
    border: 4px solid #3f3f3f;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}